body{
    padding: 0;
    margin: 0;
    background-color: #1a1a1a;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #4f4f4f;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

#heading{
    font-size: min(84px, 9vw);
    margin: 10px;
    text-align: center;
    color: #a1a1a1;
}
#container{
    display: flex;
    margin: 20px;
}

#hour, #minute, #second, #millisecond{
    background-color: #060606;
    color: #e8e8e8;
    padding: 10px;
    margin: 5px;
    font-size: min(120px,10vw);
    width: min(160px,13vw);
    text-align: center;
    border-radius: 15px;
}

#buttons{
    display: flex;
}

button{
    border: none;
    background-color: #4870ff;
    width: min(20vw, 200px);
    color: white;
    padding: 10px 20px;
    font-size: min(4vw, larger);
    border-radius: 5px;
    margin: 20px 5px;
}
button:hover{
    background-color: #263e93;
    cursor: pointer;
}

#marked {
    display: none;
    margin: 20px;
    background-color: #222;
    color: #1a1a1a;
    width: 750px;
    height: 0;
    padding: 0;
    opacity: 0;
    border-radius: 5px;
    overflow: auto;
    transition: all 0.5s ease;
}

#marked.show {
    display: block;
    min-height: 100px;
    padding: 15px;
    opacity: 1;
}

#marked div{
    padding: 2px 10px;
    background-color: #333;
    color: #e8e8e8;
    margin: 4px;
    border-radius: 5px;
}
h4 {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.counter{
    display: inline-block;
    width: 50px;
    text-align: center;
}
.time{
    display: inline-block;
    width: 200px;
}

.saved {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.7s ease;
}

.saved.show {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 320px) and (max-width: 479px) {
    #container{
        margin: 10px;
    }
    button{
        margin: 10px 5px;
        padding: 7px 10px;
    }
    #marked{
        width: 75vw;
    }
    #marked.show{
        height: 120px;
    }
    #marked div{
        font-size: 8px;
    }
    .counter{
        width: 8px;
    }
    .time{
        width: 80px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    #heading{
        font-size: 64px;
    }
    #hour, #minute, #second, #millisecond{
        width: 90px;
        font-size: 70px;
    }
    button{
        width: 140px;
        font-size: medium;
    }
    #marked{
        width: 450px;
    }
    #marked.show{
        height: 120px;
    }
    #marked div{
        font-size: 12px;
    }
    .counter{
        width: 25px;
    }
    .time{
        width: 120px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    #heading{
        font-size: 72px;
    }
    #hour, #minute, #second, #millisecond{
        width: 130px;
        font-size: 100px;
    }
    button{
        width: 170px;
        font-size: large;
    }
    #marked{
        width: 600px;
    }
    #marked.show{
        height: 120px;
    }
    #marked div{
        font-size: 15px;
    }
    .counter{
        width: 40px;
    }
    .time{
        width: 200px;
    }
}
